:root {
  --c-l-blue: #345ff6;
  --c-d-blue: #253347;
  --c-gray: #5e6e85;
  --c-white: #ffffff;
  --h-xl: clamp(3rem, 4.37840565085772rem + -1.6145307769929365vw, 4rem);
  --h-l: clamp(2rem, 3.3784056508577196rem + -1.6145307769929365vw, 3rem);
  --h-m: 1.5rem;
  --h-s: 1.25rem;
  --h-semi: 600;
  --h-l-h: 110%;
  --b-l-h: 150%;
  --b-m: 1rem;
  --b-semi: 600;
  --b-reg: 400;
  --b-s: 0.875rem;
  --c-gradient: linear-gradient(
    290.1deg,
    #d6e6fe 0%,
    rgba(214, 252, 254, 0) 100%
  );
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}

* {
  font-family: "Inter", sans-serif;
}
